<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://lib.unc.edu/schemas/crosswalk">
         <adviceBinding
               class="crosswalk.custom.MappedElementEditHelperAdvice"
               id="crosswalk-gmf.custom.adviceBindingMappedElement"
               inheritance="all"
               typeId="crosswalk-gmf.custom.adviceBindingMappedElement">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
           	  <wizard
  	     name="Metadata Crosswalk"
  	     icon="CrosswalkDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="crosswalk.diagram.part.CrosswalkCreationWizard"
  	     id="crosswalk.diagram.part.CrosswalkCreationWizardID">
      </wizard>
     <wizard
           category="org.eclipse.ui.Examples"
           class="crosswalk.diagram.part.DictionaryCreationWizard"
           icon="dictionary.gif"
           id="crosswalk.diagram.part.DictionaryCreationWizardID"
           name="Metadata Dictionary">
     </wizard>
     <wizard
           category="org.eclipse.ui.Examples"
           class="crosswalk.diagram.part.FormCreationWizard"
           icon="form.gif"
           id="crosswalk.diagram.part.FormCreationWizardID"
           name="Metadata Form">
     </wizard>
   </extension>
   <extension
         id="gmf-editor"
         point="org.eclipse.ui.editors">
      <editor
            class="crosswalk.diagram.part.CrosswalkDiagramEditor"
            contributorClass="crosswalk.diagram.part.CrosswalkDiagramActionBarContributor"
            default="true"
            extensions="dictionary"
            icon="dictionary.gif"
            id="crosswalk.diagram.part.CrosswalkDiagramEditorID"
            matchingStrategy="crosswalk.diagram.part.CrosswalkMatchingStrategy"
            name="Metadata Dictionary Editor">
      </editor>
      <editor
            class="crosswalk.diagram.part.CrosswalkDiagramEditor"
            contributorClass="crosswalk.diagram.part.CrosswalkDiagramActionBarContributor"
            default="true"
            extensions="form"
            icon="form.gif"
            id="crosswalk.diagram.part.CrosswalkDiagramEditorID"
            matchingStrategy="crosswalk.diagram.part.CrosswalkMatchingStrategy"
            name="Metadata Form Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="crosswalk.diagram.custom.DictionaryPreferencePage"
            id="crosswalk-gmf.custom.pageDictionaries"
            name="Dictionaries">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml">
      </contexts>
   </extension>

</plugin>
