<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="eclipse 3.8 (indigo)" sequenceNumber="26">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.8.1.M20120914-1540"/>
<unit id="org.eclipse.platform.sdk" version="3.8.1.M20120914-1540"/>
<unit id="org.eclipse.rcp.feature.group" version="3.8.1.v20120814-105048-92BmGJlFw3Ez0WZ9TxCqgcSVAE"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.8.1.v20120814-105048-92BmGJlFw3Ez0WZ9TxCqgcSVAE"/>
<unit id="org.eclipse.sdk.ide" version="3.8.1.M20120914-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.0.2.201301191623"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="3.0.2.201301191623"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.0.2.201301191623"/>
<repository location="http://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases/"/>
</location>
<location path="${project_loc}/../org.slf4j.pde/target" type="Directory"/>
<location path="${project_loc}/../org.slf4j.log4j12/target" type="Directory"/>
<location path="${project_loc}/../org.apache.log4j/target" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.eugenia.feature.feature.group" version="1.0.0.201211082326"/>
<unit id="org.eclipse.epsilon.ewl.gmf.feature.feature.group" version="1.0.0.201211082326"/>
<repository location="http://download.eclipse.org/epsilon/updates/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
