<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="unc.lib.cdr.workbench.capture.OriginalsPropertyTester"
            id="cdr-workbench.propertyTesterOriginals"
            namespace="cdr-workbench"
            properties="staged,captured"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="unc.lib.cdr.workbench.xwalk.MetadataSourcePropertyTester"
            id="cdr-workbench.propertyTesterMetadataSource"
            namespace="cdr-workbench"
            properties="isTabularMetadataSource"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
      <propertyTester
            class="unc.lib.cdr.workbench.DivPropertyTester"
            id="cdr-workbench.propertyDivTester"
            namespace="cdr-workbench"
            properties="isContainer,isFolder"
            type="gov.loc.mets.DivType">
      </propertyTester>
      <propertyTester
            class="unc.lib.cdr.workbench.capture.PropertyTesterTopFolderName"
            id="workbench_plugin.testTopFolderName"
            namespace="workbench_plugin.testTopFolderName"
            properties="folderName"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="unc.lib.cdr.workbench.project.ProjectPropertyTester"
            id="workbench_plugin.projectPropertyTester"
            namespace="workbench_plugin.projectPropertyTester"
            properties="open,closed"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
      <propertyTester
            class="unc.lib.cdr.workbench.SelectionPropertyTester"
            id="workbench_plugin.selectionTester"
            namespace="workbench_plugin.selection"
            properties="isDivLinkPair,siblingIResources"
            type="org.eclipse.jface.viewers.ISelection">
      </propertyTester>
   </extension>

   <extension
         id="application"
         name="Curator&apos;s Workbench Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="unc.lib.cdr.workbench.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.ExitHandler"
            id="unc.lib.cdr.pw.commands.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.CreateProjectHandler"
            id="cdr-workbench.CreateProject"
            name="Create Project">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.capture.CaptureHandler"
            id="cdr-workbench.commandCaptureObject"
            name="Capture Object">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.capture.LinkOriginalsHandler"
            id="cdr-workbench.commandLinkOriginals"
            name="Link to Originals">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.xwalk.ImportMetadataSourceHandler"
            id="cdr-workbench.commandImportTabularMetadata"
            name="Crosswalk Batch Metadata">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.arrange.AddFolderDivHandler"
            id="cdr-workbench.AddFolderDiv"
            name="New Folder">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.arrange.RenameDivHandler"
            id="cdr-workbench.RenameDiv"
            name="Rename Div">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.OpenCrosswalkHandler"
            id="cdr-workbench.commandOpenCrosswalk"
            name="Edit Crosswalk">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.describe.EditDescriptionCommand"
            id="cdr-workbench.commandEditDescription"
            name="Edit Description (MODS)">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.ExportCDRSIPHandler"
            description="Export CDR Submission"
            id="cdr-workbench.commandExportCDRSubmission"
            name="Export CDR Submission">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.capture.RescanOriginalsHandler"
            description="Scan for changes to original files and folders"
            id="cdr-workbench.commandRescanOriginals"
            name="Refresh">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.CloseProjectHandler"
            id="workbench_plugin.commandCloseProject"
            name="Close Project">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.OpenProjectHandler"
            id="workbench_plugin.commandOpenProject"
            name="Open Project">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.commands.ConvertToCollectionHandler"
            description="Make this folder into a collection."
            id="workbench_plugin.commandConvertToCollection"
            name="Convert to Collection">
      </command>
      <command
            defaultHandler="unc.lib.cdr.workbench.acl.EditAccessControlsCommand"
            id="cdr-workbench.commandEditAccessControl"
            name="Edit Access Control">
      </command>
      <command
            categoryId="workbench_plugin.categoryLink"
            defaultHandler="unc.lib.cdr.workbench.commands.LinkSurrogateHandler"
            id="workbench_plugin.commandLinkSurrogate"
            name="Link with Thumbnail or Surrogate">
      </command>
      <category
            description="Edit links between objects"
            id="workbench_plugin.categoryLink"
            name="Links">
      </category>
      <command
            id="org.eclipse.ui.edit.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <class
               class="unc.lib.cdr.workbench.commands.DeleteProjectHandler">
         </class>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.loc.mets.DivType">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <class
               class="unc.lib.cdr.workbench.arrange.RemoveDivHandler">
         </class>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.loc.mets.SmLinkType">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <class
               class="unc.lib.cdr.workbench.arrange.RemoveSmLinkHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="cdr-workbench.commandCaptureObject"
               label="Capture"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <and>
                     <test
                           property="workbench_plugin.selection.siblingIResources">
                     </test>
                     <iterate
                           ifEmpty="false">
                        <and>
                           <test
                                 property="workbench_plugin.testTopFolderName.folderName"
                                 value="originals">
                           </test>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IFolder">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                           </or>
                        </and>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandLinkOriginals"
               label="Link to Original Folders"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <instanceof
                              value="unc.lib.cdr.workbench.capture.OriginalFoldersProjectElement">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandImportTabularMetadata"
               label="Crosswalk Batch Metadata"
               mnemonic="T"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                  </with>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           operator="or">
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.AddFolderDiv"
               label="Add Folder"
               mnemonic="F"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                        
                  <or>
                     <instanceof
                           value="unc.lib.cdr.workbench.arrange.ArrangementProjectElement">
                     </instanceof>
                     <test
                           property="cdr-workbench.isContainer">
                     </test>
               </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.RenameDiv"
               label="Rename.."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="gov.loc.mets.DivType">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandOpenCrosswalk"
               label="Edit Crosswalk"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="unc.lib.cdr.workbench.xwalk.CrosswalkTreeElement">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandEditDescription"
               label="Edit Description"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="gov.loc.mets.DivType">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandExportCDRSubmission"
               label="Export CDR Submission"
               style="push"
               tooltip="Export a METS manifest for CDR ingest.">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false">
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandRescanOriginals"
               label="Refresh"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <instanceof
                              value="unc.lib.cdr.workbench.capture.OriginalFoldersProjectElement">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.core.resources.IResource">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="workbench_plugin.commandCloseProject"
               label="Close Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           property="workbench_plugin.projectPropertyTester.open">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="workbench_plugin.commandOpenProject"
               label="Open Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <test
                           property="workbench_plugin.projectPropertyTester.closed">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="workbench_plugin.commandConvertToCollection"
               label="Convert to Collection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <test
                           property="cdr-workbench.isFolder">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="cdr-workbench.commandEditAccessControl"
               label="Edit Access Control"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="gov.loc.mets.DivType">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="workbench_plugin.commandLinkSurrogate"
               label="Link with Thumbnail or Surrogate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <test
                        args="surrogate"
                        property="workbench_plugin.selection.isDivLinkPair">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="workbench_plugin.workbenchToolbar">
            <command
                  commandId="cdr-workbench.commandImportTabularMetadata"
                  disabledIcon="icons/crosswalk_add_disabled.gif"
                  icon="icons/crosswalk_add.gif"
                  label="Create a Metadata Crosswalk"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="unc.lib.cdr.pw.commands.Exit"
               style="push"
               tooltip="Exit the workbench">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="unc.lib.cdr.workbench.preferences.StagingPreferencePage"
            id="cdr_producer.preferences.PreferencePage"
            name="Staging Configuration">
      </page>
   </extension>
   <extension
         id="cdr_producer.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="unc.lib.cdr.workbench.project.MetsProjectNature">
         </run>
      </runtime>
      <builder
            id="unc.lib.cdr.workbench.builders.StageBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="unc.lib.cdr.workbench.project.NewSipProjectWizard"
            descriptionImage="icons/48px-Crystal_Clear_app_ark.png"
            finalPerspective="cdr-workbench.AccessionPerspective"
            hasPages="true"
            icon="icons/48px-Crystal_Clear_filesystem_folder_tar.png"
            id="cdr-workbench.wizard.new.project"
            name="Workbench Project"
            project="true">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <primaryWizard
            id="cdr-workbench.wizard.new.project">
      </primaryWizard>
      <primaryWizard
            id="crosswalk.diagram.part.CrosswalkCreationWizardID">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="gov.loc.mets.DivType"
            class="unc.lib.cdr.workbench.arrange.DivAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="cdr-workbench.wizard.new.project">
         </newWizardShortcut>
         <newWizardShortcut
               id="crosswalk.diagram.part.CrosswalkCreationWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="cdr-workbench.AccessionPerspective">
         <view
               closeable="false"
               id="cdr-workbench.projectview"
               minimized="false"
               moveable="false"
               ratio=".25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="cdr-workbench.Properties"
               minimized="false"
               moveable="true"
               ratio=".8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="cdr-workbench.Properties"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="cdr-workbench.ArrangementPerspective">
         <view
               closeable="true"
               id="cdr-workbench.ProjectNavigator"
               minimized="false"
               moveable="true"
               ratio=".26f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="unc.lib.cdr.workbench.rcp.AccessionPerspective"
            fixed="false"
            icon="icons/48px-Crystal_Clear_app_ark2.png"
            id="cdr-workbench.AccessionPerspective"
            name="Capture">
         <description>
            This perspective arranges the user interface to support media inventory, accession and deaccession.  It also supports overview of the original file structures and staging status.
         </description>
      </perspective>
      <perspective
            class="unc.lib.cdr.workbench.rcp.ArrangementPerspective"
            fixed="false"
            icon="icons/48px-Crystal_Clear_app_lists.png"
            id="cdr-workbench.ArrangementPerspective"
            name="Arrange">
         <description>
            The Arrange perspective configures the user interface to support description and arrangement of the collection or deposit structure.
         </description>
      </perspective>
      <perspective
            class="unc.lib.cdr.workbench.rcp.BatchMetadataPerspective"
            fixed="false"
            icon="icons/48px-Crystal_Clear_app_kexi.png"
            id="cdr-workbench.BatchMetadataPerspective"
            name="Metadata">
         <description>
            The Metadata perspective support batch metadata operations at the item level.  This is where you import original metadata sources in various formats, map the metadata records to digital objects and cross-walk metadata fields to standard schemas.
         </description>
      </perspective>
      <perspective
            class="unc.lib.cdr.workbench.rcp.MetsXmlPerspective"
            fixed="false"
            icon="icons/48px-Crystal_Clear_app_phppg.png"
            id="cdr-workbench.MetsPerspective"
            name="METS">
         <description>
            The METS perspective allows the user to browse the underlying METS document in which all standard workbench information is recorded for each project.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.views.properties.PropertySheet"
            id="cdr-workbench.Properties"
            name="Properties"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="unc.lib.cdr.workbench.views.MetsProjectNavigator"
            id="cdr-workbench.projectview"
            name="Project Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="cdr-workbench.objectContributionDiv"
            objectClass="gov.loc.mets.DivType">
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="workbench_plugin.projectAutoStageAction"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="unc.lib.cdr.workbench.commands.AutoStageAction"
               enablesFor="1"
               id="workbench_plugin.actionAutoStageAction"
               label="Stage Captured Files"
               menubarPath="additions"
               style="toggle">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="unc.lib.cdr.workbench.markers.OriginalFileSet"
         name="Original File Set"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <attribute
            name="type">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="cdr-workbench.projectview">
         <popupMenu
               allowsPlatformContributions="true"
               id="cdr-workbench.projectpopups">
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="cdr-workbench.projectview">
         <includes>
            <contentExtension
                  pattern="cdr-workbench.projectContent">
            </contentExtension>
            <contentExtension
                  pattern="cdr-workbench.arrangementContent">
            </contentExtension>
            <contentExtension
                  pattern="cdr-workbench.originalsContent">
            </contentExtension>
            <contentExtension
                  pattern="cdr-workbench.crosswalksContent">
            </contentExtension>
            <contentExtension
                  pattern="workbench_plugin.stagedFileContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="cdr-workbench.projectview">
         <includes>
            <actionExtension
                  pattern="workbench_plugin.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="unc.lib.cdr.workbench.views.MetsProjectContentProvider"
            id="cdr-workbench.projectContent"
            labelProvider="unc.lib.cdr.workbench.views.MetsProjectLabelProvider"
            name="Workbench Projects"
            priority="high">
         <triggerPoints>
            <or>
               <instanceof
                     value="unc.lib.cdr.workbench.views.WorkbenchWorkbenchRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="unc.lib.cdr.workbench.arrange.ArrangementContentProvider"
            id="cdr-workbench.arrangementContent"
            labelProvider="unc.lib.cdr.workbench.arrange.ArrangementLabelProvider"
            name="Arranged Items">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <dropAssistant
               class="unc.lib.cdr.workbench.arrange.ArrangementCommonDropAdapterAssistant"
               id="cdr-workbench.arrangementDropAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="gov.loc.mets.DivType">
                  </instanceof>
                  <instanceof
                        value="unc.lib.cdr.workbench.arrange.ArrangementProjectElement">
                  </instanceof>
               </or></possibleDropTargets>
         </dropAssistant>
         <possibleChildren>
            <or>
               <instanceof
                     value="gov.loc.mets.DivType">
               </instanceof>
               <instanceof
                     value="unc.lib.cdr.workbench.arrange.ArrangementProjectElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="gov.loc.mets.MdSecType">
               </instanceof>
               <instanceof
                     value="unc.lib.cdr.workbench.project.ICustomEObjectBucket">
               </instanceof>
               <instanceof
                     value="gov.loc.mets.SmLinkType">
               </instanceof>
            </or></possibleChildren>
         <commonSorter
               class="unc.lib.cdr.workbench.arrange.ArrangementViewerSorter"
               id="cdr-workbench.arrangementViewerSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="unc.lib.cdr.workbench.arrange.ArrangementProjectElement">
                  </instanceof>
                  <instanceof
                        value="gov.loc.mets.DivType">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="unc.lib.cdr.workbench.capture.OriginalsContentProvider"
            id="cdr-workbench.originalsContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Original Folders">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="unc.lib.cdr.workbench.xwalk.CrosswalkContentProvider"
            id="cdr-workbench.crosswalksContent"
            labelProvider="unc.lib.cdr.workbench.xwalk.CrosswalkLabelProvider"
            name="Metadata Crosswalks">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="unc.lib.cdr.workbench.xwalk.CrosswalksProjectElement">
               </instanceof>
               <instanceof
                     value="gov.loc.mets.MdSecType">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="unc.lib.cdr.workbench.stage.StagedFileContentProvider"
            id="workbench_plugin.stagedFileContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Staged Files">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         id="unc.lib.cdr.workbench.markers.Captured"
         name="captured"
         point="org.eclipse.core.resources.markers">
      <attribute
            name="mets.Div.ID">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="unc.lib.cdr.workbench.markers.Staged"
         name="staged"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <attribute
            name="stage.uri">
      </attribute>
      <attribute
            name="mets.File.GroupIDAttr">
      </attribute>
   </extension>
   <extension
         id="unc.lib.cdr.workbench.builders.StageBuilder"
         name="Staging Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true">
         <run
               class="unc.lib.cdr.workbench.stage.StageBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="unc.lib.cdr.workbench.capture.OriginalsDecorator"
            id="cdr-workbench.decoratorCaptured"
            label="Captured File Decorators"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="gov.loc.mets.DivType">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            class="unc.lib.cdr.workbench.views.MdSecTypeDecorator"
            id="workbench_plugin.decoratorMdSecType"
            label="Metadata Section Decoration"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="gov.loc.mets.MdSecType">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="unc.lib.cdr.workbench.builders.CrosswalksBuilder"
         name="Crosswalk Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="unc.lib.cdr.workbench.xwalk.CrosswalksProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="unc.lib.cdr.workbench.capture.OriginalFolderEditorPart"
            default="false"
            icon="icons/24px-Crystal_Clear_filesystem_folder_grey.png"
            id="cdr-workbench.editorOriginalFolder"
            name="Original Folder">
      </editor>
      <editor
            class="unc.lib.cdr.workbench.acl.AccessControlFormEditor"
            default="false"
            id="workbench_plugin.accessControlEditor"
            name="Access Control Editor">
      </editor>
   </extension>
   <extension
         id="eclipse-repository"
         point="org.eclipse.core.runtime.products">
      <product
            application="workbench_plugin.application"
            name="Curator&apos;s Workbench">
         <property
               name="appName"
               value="Curator&apos;s Workbench">
         </property>
         <property
               name="aboutImage"
               value="about.png">
         </property>
         <property
               name="aboutText"
               value="Curator&apos;s Workbench&#x0A;&#x0A;Gregory N. Jansen, design and development&#x0A;count0@email.unc.edu&#x0A;University Libraries&#x0A;UNC Chapel Hill">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="unc.lib.cdr.workbench.rcp.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            class="unc.lib.cdr.workbench.project.VariableResolver"
            variable="PROJECT_NAME">
      </variableResolver>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="unc.lib.cdr.workbench.preferences.Initializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="cdr-workbench.projectview">
         <propertyTab
               category="description"
               id="workbench_plugin.propertyTabUserDescription"
               label="User Description">
         </propertyTab>
         <propertyTab
               afterTab="workbench_plugin.propertyTabUserDescription"
               category="description"
               id="workbench_plugin.propertyTabCrosswalkedDescription"
               label="Crosswalked Descriptions">
         </propertyTab>
         <propertyTab
               category="technical"
               id="workbench_plugin.propertyTabOriginalProperties"
               label="Original Properties">
         </propertyTab>
         <propertyTab
               afterTab="workbench_plugin.propertyTabCrosswalkedDescription"
               category="description"
               id="workbench_plugin.propertyTabMdSecContent"
               label="Metadata Content">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="cdr-workbench.projectview">
         <propertyCategory
               category="description"></propertyCategory>
         <propertyCategory
               category="technical">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="cdr-workbench.projectview">
         <propertySection
               class="unc.lib.cdr.workbench.views.UserDescriptionPropertySection"
               enablesFor="1"
               filter="unc.lib.cdr.workbench.views.UserDescriptionDivTypeFilter"
               id="workbench_plugin.propertySectionUserDescription"
               tab="workbench_plugin.propertyTabUserDescription">
         </propertySection>
         <propertySection
               class="unc.lib.cdr.workbench.views.CrosswalkedDescriptionPropertySection"
               enablesFor="1"
               filter="unc.lib.cdr.workbench.views.CrosswalkedDescriptionDivTypeFilter"
               id="workbench_plugin.propertySectionCrosswalkedDescription"
               tab="workbench_plugin.propertyTabCrosswalkedDescription">
         </propertySection>
         <propertySection
               class="unc.lib.cdr.workbench.views.OriginalFingerprintSection"
               enablesFor="1"
               filter="unc.lib.cdr.workbench.views.DivTypeFileFilter"
               id="workbench_plugin.propertySectionOriginalFingerprintSection"
               tab="workbench_plugin.propertyTabOriginalProperties">
         </propertySection>
         <propertySection
               afterSection="workbench_plugin.propertySectionOriginalFingerprintSection"
               class="unc.lib.cdr.workbench.views.OriginalResourcePropertySheetSection"
               enablesFor="1"
               filter="unc.lib.cdr.workbench.views.DivTypeWithOriginalFilter"
               id="workbench_plugin.propertySectionOriginalProperties"
               tab="workbench_plugin.propertyTabOriginalProperties">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               enablesFor="1"
               id="workbench_plugin.propertySectionResourceProperties"
               tab="workbench_plugin.propertyTabOriginalProperties">
            <input
                  type="org.eclipse.core.resources.IResource">
            </input>
         </propertySection>
         <propertySection
               class="unc.lib.cdr.workbench.views.MdSecTypePropertySection"
               enablesFor="1"
               id="workbench_plugin.propertySectionMdSecContent"
               tab="workbench_plugin.propertyTabMdSecContent">
            <input
                  type="gov.loc.mets.MdSecType">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://lib.unc.edu/schemas/crosswalk">
         <adviceBinding
               class="unc.lib.cdr.workbench.xwalk.MappedElementEditHelperAdvice"
               id="workbench_plugin.adviceBindingMappedElement"
               inheritance="all"
               typeId="crosswalk-gmf.diagram.MappedElement_2016">
         </adviceBinding>
         <adviceBinding
               class="unc.lib.cdr.workbench.xwalk.MappedAttributeEditHelperAdvice"
               id="workbench_plugin.adviceBindingMappedAttribute"
               inheritance="all"
               typeId="crosswalk-gmf.diagram.MappedAttribute_3016">
         </adviceBinding>
         <adviceBinding
               class="unc.lib.cdr.workbench.xwalk.MappedElementEditHelperAdvice"
               id="workbench_plugin.adviceBindingMappedCrossWalk"
               inheritance="all"
               typeId="crosswalk-gmf.diagram.CrossWalk_1000">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="crosswalk-gmf.diagram.TypeContext">
         <advice
               ref="workbench_plugin.adviceBindingMappedElement">
         </advice>
         <advice
               ref="workbench_plugin.adviceBindingMappedAttribute">
         </advice>
         <advice
               ref="workbench_plugin.adviceBindingMappedCrossWalk">
         </advice>
      </binding>
   </extension>

</plugin>
