<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="crosswalk.presentation.CrosswalkEditorID"
            name="Submission Form Editor"
            icon="icons/full/obj16/CrosswalkModelFile.gif"
            extensions="form"
            class="crosswalk.presentation.CrosswalkEditor"
            contributorClass="crosswalk.presentation.CrosswalkActionBarContributor">
      </editor>
   </extension>

</plugin>
