<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://lib.unc.edu/schemas/crosswalk"
            class="crosswalk.CrosswalkPackage"
            genModel="model/crosswalk.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml">
      </contexts>
   </extension>

</plugin>
