<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gov.loc.mods.mods.presentation.MODSModelWizardID"
            name="%_UI_MODSModelWizard_label"
            class="gov.loc.mods.mods.presentation.MODSModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MODSModelFile.gif">
         <description>%_UI_MODSModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="gov.loc.mods.mods.presentation.MODSEditorID"
            name="%_UI_V3Editor_label"
            icon="icons/full/obj16/MODSModelFile.gif"
            extensions="xml,mods"
            class="gov.loc.mods.mods.presentation.MODSEditor"
            contributorClass="gov.loc.mods.mods.presentation.MODSActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="gov.loc.mods.mods.presentation.URIFragmentEditorInputFactory"
            id="mods.model.editor.factoryURIFragmentEditorInput">
      </factory>
   </extension>

</plugin>
